<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<entry cle="tarte à la fraise" valeur="dessert"></entry>
	<entry cle="poulet roti" valeur="plat principal"></entry>
	<entry cle="nem" valeur="entrée"></entry>
	<entry cle="eclair chocolat" valeur="dessert"></entry>
	<entry cle="tourte à la viande" valeur="plat principal"></entry>
</menu>