<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebSessionFiltre</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.loncoto.WebSessionFiltre.servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.loncoto.WebSessionFiltre.utils.SessionListener</listener-class>
  </listener>
  <filter>
    <display-name>WebFilter</display-name>
    <filter-name>WebFilter</filter-name>
    <filter-class>com.loncoto.WebSessionFiltre.utils.WebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <filter>
    <display-name>WebFilter2</display-name>
    <filter-name>WebFilter2</filter-name>
    <filter-class>com.loncoto.WebSessionFiltre.utils.WebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebFilter2</filter-name>
    <url-pattern>/IndexServlet</url-pattern>
  </filter-mapping>
</web-app>